/* Variables */

$bodyFont: 'Inter', -apple-system;

$bodyColor: #222222;
$bodyColor1: #F9F9F9;
$bodyColor2: #FF2E00;
$bodyColor3: #fdf8f6;
$bodyColor4: #ffffff;
$bodyColor5: #fff1ea;
$bodyColor6: #25D366;
$bodyColor7: #21c75e;
